@import 'https://fonts.googleapis.com/css?family=Open+Sans:400,500,600|Oswald:400,500,600';

h1,h2,h3,h4,h5,h6,em {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

p,a,li,button,small,span {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
}